<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student MS</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    <link rel="shortcut icon" sizes="196x196" href="../../images/logo.png">

    <link rel="stylesheet" href="../../Content/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../Content/animate.min.css">
    <link rel="stylesheet" href="../../Content/bootstrap.css">
    <link rel="stylesheet" href="../../Content/core.css">
    <link rel="stylesheet" href="../../Content/site.css">
    <link rel="stylesheet" href="../../Content/misc-pages.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">

</head>
<body class="simple-page">    
    <div class="simple-page-wrap">
        @RenderBody()
    </div><!-- .simple-page-wrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
